/* General Styles */
body {
	
}
p {
	font-family: "Lora", serif;

}
a {
	text-decoration: none;
	color: white;
	transition: background 1s linear 2s;
}
a:hover {
	background: #d3d3d3;

}
a:active {

}
h1 { font-family: "Oswald", sans-serif;

}
h2 { font-family: "Oswald", sans-serif;
	font: 18px;
	padding: 20px;

}

h3 { font-family: "Oswald", sans-serif;

}

h4 { font-family: "Oswald", sans-serif;

}

h5 { font-family: "Oswald", sans-serif;

}

h6 { font-family: "Oswald", sans-serif;

}


/* Header */
header {
	width: 100%;
	position:fixed; left:0px; top:0px; height:30px; width:100%;

}

.nav-main {
	font-family: "Lora";
	font-weight: bold;
	font-size: 15px;
	padding: 10px 15px 15px 0px;
	text-align: center;
	background-color: #2C3539;
	line-height: 25px;
	width: 100%;
}

.nav-main li {
	display: inline-block;
	padding-right: 20px;
	letter-spacing: 1px;
}

.nav-main ul {
	width: 100%;
}

.logo {
	font-size: 40px;
	padding: 20px 0px 0px 40px;
	text-shadow: 1px 1px 1px #636F57;
	float: left;
	display: none;
}

/*Setup a Container for Multi-Use*/
.container {
	width: 100%;
	margin: 0 auto;
	padding-top: none;
	text-align: center;
}

.container main h3 {
	padding: 20px;
	font-size: 40px;
	text-align: center;
}

.container h2 {
	padding: 20px;
	font-size: 70px;
	text-align: center;
}


.container main p {
	padding: 20px;
	font-size: 17px;
	line-height: 24px;
}

/* Section: Banner + Feature */

.feature {
	background: url("http://i.imgur.com/nrLHe9h.jpg") no-repeat scroll center center / cover;
	width: 100%;
	text-align: center;
	min-height: 250px;
	border-bottom: 5px solid orange;
}

.feature h2 {
	font-size: 4em;
	text-align: center;
	padding: 90px 0px 10px 0px;
	color: white;
	text-shadow: 1px 1px 30px #2C3539;

}

.feature h3 {
	font-size: 2em;
	padding: 3px 0px 30px 0px;
	display: none;
}

.feature p {
	font-size: 20px;
	padding: 20px 0px 30px 0px;
	line-height: 25px;
	color: white;
}

.feature button { 
	padding: 20px;
	margin-bottom: 30px;
	width: 300px;
	background-color: #2C3539;
	color: white;
	font-size: 1em;
	transition: background 1s ease-in .25s;
	border-radius: 5px;
	text-shadow: 30px;
}

.feature button:hover{
	background-color: orange;
}

/* Secton: Content */
.content {

}

main {
	background-color: #d3d3d3;
	float: left;
	width: 60%;
	margin-left: 5%;
	border-bottom: #0971B2 solid 40px;
	border-top: #0971B2 solid 40px;
}

aside {
	float:right;
	width: 30%;
	margin-right: 5%;
}

aside img {
	display: block;
	margin-bottom: 10px;
	margin-top: 8px;
	margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px orange;
}

aside ul {
	list-style-type: none;
}

aside img:hover {
	opacity: .8;
	box-shadow: 20px 0px #0971B2;
}


/* Section: Services */
.services {
	clear: both;
}

.box {
	background: #2C3539;
	color: #fff;
	width: 12%;
	height: 200px;
	margin: 40px 5px 100px 5px;
	padding: 50px;
	display: inline-block;
	transition: opacity .25s linear .5s;
	border-radius: 20px 20px 0px 0px;
	border-bottom: 10px solid #0971B2;
}

.box h3 {
	font-size: 24px;
	text-align: center;
	margin-top: 25px;
}

.box p {
	font-size: 18px;
	text-align: center;
	margin-bottom: 25px;
	margin-top: 25px;
}

.box:hover {
	opacity: .8;
	background-color: #0971B2;
}

.box:last-child {
	margin-right: 0;
}

.box button {
	font-family: "Oswald";
	font-size: 16px;
	padding: 20px;
	width: 100%;
	margin-bottom: 30px;
	background-color: #ccc;
	color: #2C3539;
	font-size: 1em;
	border-radius: 5px;
	text-shadow: 30px;
}

.box button:hover {
	background-color: orange;
	color: white;
}

/* Footer */
footer {
	clear: both;
	background: orange;
	position:fixed; left:0px; bottom:0px; height:100px; width:100%;
}

.copyright {
	text-align: center;
	color:white;
	display: none;
}

.footer-container > ul li {
	display: inline-block;
	float:right;
	padding-top: 40px;
	font-size: 20px;
	letter-spacing: 5px;
}

.footer-container > ul li a {
	color: white;
	float: right;
	padding-left: 10px;
	margin-right: 40px;
}

.footer-container h2 {
	font-size: 25px;
	color: white;
	padding-top: 40px;
	float: left;
	margin-left: 50px;
}
